{% extends "graphs/threecolumns.html" %}
{% block leftcolumn %}
{% endblock leftcolumn %}
{% block centercolumn %}

<h4>Login till Orientalyst</h4>

{% if form.errors %}
Your username and password didn't match. Please try again.
{% endif %}

<form method="post" action="" role="form" class="form-horizontal">
<div class="form-group">
{% csrf_token %}

<p>{{ form.username.label_tag }}  {{ form.username}}</p>
<p>{{ form.password.label_tag }}  {{ form.password }}</p>
<p><input type="hidden" name="next" value="{{ next }}" /></p>
<button type="submit" value="login" class="btn btn-default">Login</button>
</div>
</form>

<p><a href="/user/password_reset/">Jag har glömt mitt password</a></p>
{% endblock centercolumn %}
