{% extends 'graphs/base.html' %}

{% block content %}
<div id="content">
<div id="centergraphs">

<div id="welcome">
<div id="resultstitle">
Återställa ditt password
</div>
<div id="resultscontent">

Var god och fyll i ditt email address för att få ett mail med instruktioner
för att återställa ditt password.

<form action="" method="post">
<div style="display:none">
<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
</div>
                     
{{ form.email.errors }}
<p><label for="id_email">E-mail address:</label> {{form.email }} 
<input type="submit" value="Reset password" /></p>
</form>
</div>
</div>
</div>
</div>

{% endblock %}
