{% extends 'graphs/threecolumns.html' %}

{% block leftcolumn %}
{% endblock leftcolumn %}

{% block centercolumn %}
<h3>Återställa ditt password</h3>

<p>Var god och fyll i ditt email address för att få ett mail med instruktioner
för att återställa ditt password.</p>


<p><input type="hidden" name="next" value="{{ next }}" /></p>

<form action="" method="post" role="form" class="form-horizontal">
<div class="form-group">
{% csrf_token %}
                     
{{ form.email.errors }}
<p>{{ form.email.label_tag }}  {{ form.email }}</p>
<button type="submit" value="Reset password" class="btn btn-default">Reset
password</button>
</form>

{% endblock centercolumn %}
