{% extends "graphs/base.html" %}
{% block content %}
<div id="content">
<div id="centergraphs">

<div id="welcome">
<div id="resultstitle">
Nytt password
</div>
<div id="resultscontent">
    {% if validlink %}
        <h3>Var god och skriv ditt nya password här.</h3>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nytt password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Bekräfta password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h3>Password återställning fungerade inte</h3>
        Återställnings-länken du använde var felaktig. Det kan ha hänt eftersom
        den redan har blivit använt, eller så har den utgått. Var god och ansök om en ny länk.
    {% endif %}
</div>
</div>
</div>
</div>
{% endblock %}
