{% autoescape off %}
Du får detta mail för att du har bett om att få återställa ditt password för
ditt användarkonto på {{ site_name }}.

Har du inte bett om att återställning av ditt password? I så fall ber vi om
ursäkt, det ser ut som någon annan har fyllt i ditt mailaddress i 'jag har
glömt mitt password' fältet.

För att välja ett nytt password, var god och gå till följande sidan:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url "django.contrib.auth.views.password_reset_confirm" uidb36=uid token=token %}
{% endblock %}
För din säkerhet är länken endast giltig i 24 timmar.

Ifall du har glömt, ditt användarnamn är: {{ user.username }}

Tack för att du användar vår webbsida!
{{ site_name }} teamet.

{% endautoescape %}
