{% extends "graphs/threecolumns.html" %}
{% block leftcolumn %}
{% endblock leftcolumn %}
{% block centercolumn %}
<h3>Nytt password</h3>
    {% if validlink %}
        <p>Var god och skriv ditt nya password här.</p>
        <form action="" method="post" role="form" class="form-horizontal">
        <div class="form-group">
        {% csrf_token %}
            {{ form.new_password1.errors }}
            <p><label for="id_new_password1">Nytt password: </label>{{ form.new_password1 }}</p>
            <p>{{ form.new_password2.errors }}<label
            for="id_new_password2">Bekräfta password: </label>{{ form.new_password2 }}</p>
<button type="submit" value="Change password" class="btn btn-default">Ändra password</button>
        </form>
    {% else %}
        <h4>Password återställning fungerade inte</h4>
        Återställnings-länken du använde var felaktig. Det kan ha hänt eftersom
        den redan har blivit använt, eller så har den utgått. Var god och ansök om en ny länk.
    {% endif %}
{% endblock centercolumn %}
