<html>
<head>
<title>Orientalyst - plots for orienteers</title>
<link rel="stylesheet" content="text/css" href="{{ STATIC_URL }}style.css" >
</head>
<body>

{% block topheader %}
<div id="topheader">
{% if not user.is_loggedin %}
<a href="/accounts/login/">LOGIN</a> eller
<a href="/accounts/signup/">ANMÄL</a>
{% else %}

<div id="loggedintext">
Logged in as {{ user.alias }}
</div>

<a href="/">HOME</a>
<div class="dotspacer">&middot;</div>
<a href="/races">DINA TÄVLINGAR</a>
<div class="dotspacer">&middot;</div>
<a href="/about">OM ORIENTALYST</a>
<div class="dotspacer">&middot;</div>
<a href="/accounts/logout">LOGOUT</a>
{% endif %}
</div>
{% endblock topheader %}

<div id="titlebar">
<img id="logo" src="{{STATIC_URL}}logo.svg">
<div id="logotext">orientalyst</div>
</div>

{% block content %}
<div id="content">

</div>
{% endblock content %}

<div id="footer">
ANd a footer</div>

</body>
</html>
