<!DOCTYPE html>
<html>
  <head>
    <title>Orientalyst - plots for orienteers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" content="text/css" href="{{ STATIC_URL }}custom.css" >
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

<body>
    
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

          </button>
          <a class="navbar-brand" href="#">orientalyst</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
        {% if not user.is_loggedin %}
            <li><a href="/">HOME</a></li>
            <li><a href="/accounts/login/">LOGIN</a></li>
            <li><a href="/accounts/signup/">ANMÄL</a></li>
        {% else %}


        <li><a href="/races">DINA TÄVLINGAR</a></li>
        <li><a href="/about">OM ORIENTALYST</a></li>
        <li><a href="/accounts/logout">LOGOUT</a></li>
        Logged in as {{ user.alias }}
        {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

{% block content %}
<div id="content">

</div>
{% endblock content %}

</body>
</html>
