{% extends "graphs/threecolumns.html" %}

{% block centercolumn %}

<script src="{{ STATIC_URL }}d3.v3.min.js"></script>
<script src="{{ STATIC_URL }}plots.js"></script>

        <h3>Plots</h3>
{% if plots.showgraphs %}
{{ plots.plots.splits.render_html|safe}}
{{ plots.plots.bomsplits.render_html|safe}}
{{ plots.plots.behind.render_html|safe}}
{{ plots.plots.legbehind.render_html|safe}}
{{ plots.plots.totaltime.render_html|safe}}
{{ plots.plots.bomtotal.render_html|safe}}
{{ plots.plots.spread.render_html|safe}}
{% else %}
No splits found for this race
{% endif %}
{% endblock centercolumn %}
        {% block rightcolumn %}
            <h3>Tävling</h3>
            <h4>{{ racedata.info.name }}</h4>
            <div class="competition_info">
            <h5>{{ racedata.info.classname }}</h5>
            <h5>{{ racedata.info.date }}</h5>
	    {% if racedata.user_has_result %}
            <p>Placering: {{ racedata.results.position }}</p>
            <p>Tid: {{ racedata.results.time }}</p>
            <p>Status: {{ racedata.results.status }}</p>
            <p>Tidsskillnad: {{ racedata.results.diff }}</p>
	    {% endif %}
            </div>
	    <h3>Kommentarer</h3>
	    {% if user_is_logged_in %}
		<form method="post" action="" role="form" class="form-horizontal">
		{% csrf_token %}
		<div class="form-group">
		{{ commentform.as_p }}
		<button type="submit" value="skicka" class="btn btn-default">Skicka</button>
		</div>
		</form>
	     {% endif %}
	    {% for comment in comments %}
	    <p>{{ comment.commenttext }}</p>
	    <p>{{ comment.author.firstname }} {{ comment.author.lastname }} 
	    , {{ comment.created|date:"Y-m-d H:i" }}</p>
	    {% endfor %}
        {% endblock rightcolumn %}
