{% extends "graphs/threecolumns.html" %}

{% block centercolumn %}
<script src="/static/d3.v3.min.js"></script>
<script>

var data = new Array();
        d3.selection.prototype.moveToFront = function() {
            return this.each(function(){
                this.parentNode.appendChild(this);
                });
        };


        
        highlight_point = function(d) {
            if (d.dataclass == "friendpoint") {
                d3.select(this).attr("class", "userpoint");
                tooltip(this, d);
                plotid = d3.select(this.parentNode).attr("id");
                circleid = d3.select(this).attr("id");
                d3.selectAll("#"+circleid)
                .attr("r", 7)
                .attr("class", "highlightpoint");
            }
        }

        dehighlight_point = function(d) {
            remove_tooltip(this);
            circleid = d3.select(this).attr("id");
            d3.selectAll("#"+circleid)
            .attr("r", d.rad)
            .attr("class", d.dataclass);
            }

        tooltip = function(circle, d) {
            tipx = circle.cx.animVal.value;
            tipy = circle.cy.animVal.value - 20;
            textelement = d3.select(circle.parentNode)
            .append("text")
            .text(d.name)
            .attr("text-anchor", "middle")
            .attr("class", "tooltiptext")
            .attr("x", tipx)
            .attr("y", tipy);
            
            bbox = textelement.node().getBBox();
            d3.select(circle.parentNode)
            .append("rect")
            .attr("fill", "green")
            .attr("class", "tooltipbox")
            .attr("x", bbox.x-5)
            .attr("y", bbox.y-5)
            .attr("width", bbox.width+10)
            .attr("height", bbox.height+10);
            
            textelement.moveToFront();
            }


        remove_tooltip = function(circle) {
            d3.selectAll(".tooltiptext")
            .data([]).exit().remove();
            d3.selectAll(".tooltipbox")
            .data([]).exit().remove();
        }

</script>

        <h3>Plots</h3>
{% if plots.showgraphs %}
{{ plots.plots.splits.render_html|safe}}
{{ plots.plots.bomsplits.render_html|safe}}
{{ plots.plots.behind.render_html|safe}}
{{ plots.plots.legbehind.render_html|safe}}
{{ plots.plots.totaltime.render_html|safe}}
{{ plots.plots.bomtotal.render_html|safe}}
{{ plots.plots.spread.render_html|safe}}
{% else %}
No splits found for this race
{% endif %}
{% endblock centercolumn %}
        {% block rightcolumn %}
            <h3>Tävling</h3>
            <h4>{{ plots.raceinfo.name }}</h4>
            <h5>{{ plots.raceinfo.classname }}</h5>
            <h5>{{ plots.raceinfo.date }}</h5>
            <p>Placering: {{ plots.results.position }}</p>
            <p>Tid: {{ plots.results.time }}</p>
            <p>Status: {{ plots.results.status }}</p>
            <p>Tidsskillnad: {{ plots.results.diff }}</p>
        {% endblock rightcolumn %}
