{% extends "graphs/threecolumns.html" %}

{% block centercolumn %}

<script src="{{ STATIC_URL }}d3.v3.min.js"></script>
<script src="{{ STATIC_URL }}plots.js"></script>

        <h3>Plots</h3>
{% if plots.showgraphs %}
{{ plots.plots.splits.render_html|safe}}
{{ plots.plots.bomsplits.render_html|safe}}
{{ plots.plots.behind.render_html|safe}}
{{ plots.plots.legbehind.render_html|safe}}
{{ plots.plots.totaltime.render_html|safe}}
{{ plots.plots.bomtotal.render_html|safe}}
{{ plots.plots.spread.render_html|safe}}
{% else %}
No splits found for this race
{% endif %}
{% endblock centercolumn %}
        {% block rightcolumn %}
            <h3>Tävling</h3>
            <h4>{{ plots.raceinfo.name }}</h4>
            <div class="competition_info">
            <h5>{{ plots.raceinfo.classname }}</h5>
            <h5>{{ plots.raceinfo.date }}</h5>
            <p>Placering: {{ plots.results.position }}</p>
            <p>Tid: {{ plots.results.time }}</p>
            <p>Status: {{ plots.results.status }}</p>
            <p>Tidsskillnad: {{ plots.results.diff }}</p>
            </div>
        {% endblock rightcolumn %}
