{% extends "graphs/base.html" %}
{% block content %}

    <div class="container">
      <!-- Example row of columns -->
      <div class="col-lg-2">

        <h4>Senaste tävlingar</h4>
        {% if racelist %}
        {% for race in racelist %}
        <a href="/race/{{ race.cr_id }}">{{ race.name }}</a> <br>
        {% endfor %}
        {% endif %}
      </div>

      <div class="col-lg-6">

        <h4>Profil för {{ user.fullname }}</h4>

        {% if psw %}
        <p>Ändra ditt password här:</p>
        <form action="/profile/" method="POST">
        {% csrf_token %}
        <table>
        <tr><td>Nytt password: </td><td><input type="password" name="newpass"></td></tr>
        <tr><td>Upprepa nytt password: </td><td> <input type="password"
        name="repeatnewpass"></td></tr>
        <tr><td><input type="submit"></td></tr>
        </table>
        </form>


        {% else %}

        Eventor ID {{ user.get_eventorID}} <br>
        Sportident
        {% for si in user.get_sportident %}
        {{ si }}<br>
        {% endfor %}

        {% endif %}
      </div>
      <div class="col-lg-2">
      </div>
{% endblock content %}
