<html>
<head>
<link rel="stylesheet" content="text/css" href="{{ STATIC_URL }}style.css" >
</head>
<body>

{% load dictlookup %}

{% block topheader %}
<div id="topheader">
{% if not user.is_loggedin %}
<a href="/login/?next=/graph/1/">LOGIN</a>
{% else %}

<div id="loggedintext">
Logged in as {{ user.alias }}
</div>

<a href="/">HOME</a>
<div class="dotspacer">&middot;</div>
<a href="/races">DINA TÄVLINGAR</a>
<div class="dotspacer">&middot;</div>
<a href="/about">OM ORIENTALYST</a>
<div class="dotspacer">&middot;</div>
<a href="/logout">LOGOUT</a>
{% endif %}
</div>
{% endblock topheader %}

<div id="titlebar">
<img id="logo" src="{{STATIC_URL}}logo.svg">
<div id="logotext">orientalyst</div>
</div>

<div id="content">

<div id="yearracecolumn">
<div id="yearracetitle">ALLA TÄVLINGAR FÖR {{ user.fullname|upper }}</div>

{% for year in racelist.get_all_races_by_year %}
<div class="yearraces">
<h2 class="year">{{ year }}</h2>

{% for race in racelist.allraces|lookup:year %}
<div class="line">
<a class="yearrace" href="/race/{{ race.cr_id }}/">{{ race.name }}</a>, {{ race.date }}, {{ race.classname }}
</div>
{% endfor %}

</div>

{% endfor %}
</div>

</div>

<div id="footer">
ANd a footer</div>

</body>
</html>
