{% extends "graphs/base.html" %}

{% load dictlookup %}

{% block content %}

<div id="content">

<div id="yearracecolumn">
<div id="yearracetitle">ALLA TÄVLINGAR FÖR {{ user.fullname|upper }}</div>

{% for year in racelist.get_all_races_by_year %}
<div class="yearraces">
<h2 class="year">{{ year }}</h2>

{% for race in racelist.allraces|lookup:year %}
<div class="line">
<a class="yearrace" href="/race/{{ race.cr_id }}/">{{ race.name }}</a>, {{ race.date }}, {{ race.classname }}
</div>
{% endfor %}

</div>

{% endfor %}
</div>

</div>
{% endblock content %}
