{% extends "graphs/threecolumns.html" %}
{% load dictlookup %}
      {% block leftcolumn %}
      {% endblock leftcolumn %}
      {% block centercolumn %}
        <h4>ALLA TÄVLINGAR FÖR {{ user.fullname|upper }}</h4>
        {% for year in racelist.get_all_races_by_year %}
        <h5>{{ year }}</h5>

        {% for race in racelist.allraces|lookup:year %}
        <p><a href="/race/{{ race.cr_id }}/">{{ race.name }}</a>, {{ race.date }}, {{ race.classname }}</p>
        {% endfor %}
        {% endfor %}
      {% endblock centercolumn %}
